[Desktop Entry]
Name=Sway Nvidia
Comment=Sway with proprietary Nvidia support enabled
Exec=env WLR_NO_HARDWARE_CURSORS=1 LIBVA_DRIVER_NAME=nvidia GBM_BACKEND=nvidia-drm __GLX_VENDOR_LIBRARY_NAME=nvidia sway --unsupported-gpu
Type=Application
DesktopNames=sway;wlroots
