/* >>> chromasync */
@define-color window_bg_color #c1c1c1;
@define-color window_fg_color #0e0e0e;
@define-color view_bg_color #bbbbbb;
@define-color view_fg_color #0e0e0e;
@define-color accent_color #646464;
@define-color accent_bg_color #646464;
@define-color accent_fg_color #c0c0c0;
@define-color headerbar_bg_color #b9b9b9;
@define-color headerbar_fg_color #0e0e0e;
@define-color headerbar_border_color rgba(65, 65, 65, 0.80);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(39, 39, 39, 0.07);
@define-color card_bg_color #bbbbbb;
@define-color card_fg_color #0e0e0e;
@define-color card_shade_color rgba(39, 39, 39, 0.07);
@define-color dialog_bg_color #b9b9b9;
@define-color dialog_fg_color #0e0e0e;
@define-color popover_bg_color #b9b9b9;
@define-color popover_fg_color #0e0e0e;
@define-color destructive_color #8f2424;
@define-color destructive_bg_color #8f2424;
@define-color destructive_fg_color #c0c0c0;
@define-color success_color #268f24;
@define-color success_bg_color #268f24;
@define-color success_fg_color #c0c0c0;
@define-color warning_color #8f8e24;
@define-color warning_bg_color #8f8e24;
@define-color warning_fg_color #c0c0c0;
@define-color error_color #8f2424;
@define-color error_bg_color #661a1a;
@define-color error_fg_color #c0c0c0;
@define-color shade_color rgba(39, 39, 39, 0.07);
@define-color scrollbar_outline_color rgba(65, 65, 65, 0.50);
@define-color sidebar_bg_color #c6c6c6;
@define-color sidebar_fg_color #0e0e0e;
@define-color sidebar_backdrop_color #c6c6c6;
@define-color sidebar_shade_color rgba(39, 39, 39, 0.07);
/* <<< chromasync */
