[Unit]
Description=Sway graphical session
Documentation=man:systemd.special(7)
Requires=graphical-session.target
Wants=waybar.service mako.service
After=graphical-session-pre.target
